/* ****** */
/* Navbar */
/* ****** */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 0 0 1.5rem;
    background-color: #FFFDFC;
    position: sticky;
    top: 0;
    z-index: 50;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}
.nav a {
    text-decoration: none;
    color: inherit;
}
.site-title {
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
    font-size: 1.5rem;
}
.nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}
.nav li {
    padding: 1.5rem 1.5rem;
    font-family: 'DM Sans', sans-serif;
    font-size: 1.125rem;

    transition: 200ms ease-out;
}
.nav li.active {
    text-decoration: underline;
}
.nav li:hover {
    color: #2C4F5E;
}

/* ********* */
/* Community */
/* ********* */
.community-content {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 75% 25%;
}
.community-column {
    padding-right: 2.5rem;
}
.offerings-container {
    margin-top: 1rem;
}
.offering-card {
    background-color: #FFFDFC;
    border-radius: 8px;
    padding: 1rem 1.5rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    margin-bottom: 1rem;
}
.offering-row {
    display: flex;
    justify-content: space-between;
}