/* Feature.css */
/* Styles for each feature of the application */

/* Navbar */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 0 0 1.5rem;
    background-color: #FFFDFC;
    position: sticky;
    top: 0;
    z-index: 50;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.nav a {
    text-decoration: none;
    color: inherit;
}
.site-title {
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
    font-size: 1.5rem;
}
.nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}
.nav li {
    padding: 1.5rem 1.5rem;
    font-family: 'DM Sans', sans-serif;
    font-size: 1.125rem;
    font-weight: 500;

    transition: 200ms ease-out;
}
.nav li.active {
    background-color: #E4D9D4;
}
.nav li:not(.active):hover {
    background-color: #F0E9E5;
}
.nav button {
    background-color: transparent;
    border: none;
    padding: 0 1.5rem;
    margin: 0;
    font-family: 'DM Sans', sans-serif;
    font-size: 1.125rem;
    transition: 200ms ease-out;
    box-shadow: none;
}
.nav button:hover {
    background-color: #F0E9E5;
}

/* Community */

.community-content {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 75% 25%;
}
.community-column {
    padding-right: 5rem;
}
.column-title {
    margin-bottom: 0.25rem;
}
.column-description {
    margin-bottom: 0.5rem;
}
.create-offer-form {
    flex-direction: column;
    gap: 10px;
    background-color: #FFFDFC;
    border-radius: 8px;
    padding: 20px 50px;
    margin: auto;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.form-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-bottom: 10px;
}
.create-offer-form label {
    font-family: 'DM Sans', sans-serif;
    font-size: 0.875rem;
    width: 300px;
}
.create-offer-form input,
.create-offer-form select {
    width: 100%;
    box-sizing: border-box;
    margin-top: 5px;
    font-family: inherit;
    padding: 5px;
}
.loader-wrapper {
    display: block;
    margin: auto;
}
.offers-container {
    margin-top: 15px;
    display: grid;
    grid-template-columns: 49% 49%;
    gap: 2%;
}
.offer-card {
    background-color: #FFFDFC;
    padding: 10px 15px 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 0.75rem;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.good {
    border-left: 5px solid #FECA43;
}
.service {
    border-left: 5px solid #FA9F4B;
}
.offer-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.offer-row-2 {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 15px;
}
.offer-title {
    font-size: 17px;
}
.user {
    text-decoration: none;
    color: inherit;
    font-family: 'DM Sans', sans-serif;
    color: #447EAE;
    font-weight: 500;

    transition: 200ms ease-out;
}
.user:hover {
    color: #1A6AA4;
}
.member-mini {
    display: flex;
    flex-direction: column;
    width: fit-content;
    text-align: center;
    margin-top: 1rem;
    gap: 0.25rem;
}
.member-image {
    height: 70px;
    width: 70px;
    border-radius: 35px;
    background-color: #4D6150;
    display: flex;
}
.member-image span {
    width: fit-content;
    margin: auto;
    font-size: 3rem;
    color: #F8F3EA;
}
.member-mini a {
    text-decoration: none;
    color: inherit;
    font-family: 'DM Sans', sans-serif;
    color: #447EAE;

    transition: 200ms ease-out;
}
.member-mini a:hover {
    color: #1A6AA4;
}

/* Profile */

.profile-top-section {
    margin-top: 20px;
    padding: 20px 25px 30px;
    display: grid;
    grid-template-columns: 10% 90%;
    align-items: center;
    background-color: #FFFDFC;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.profile-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.info-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.info-header button {
    margin: 0;
}
.edit-profile-form {
    flex-direction: column;
    gap: 10px;
    background-color: #FFFDFC;
    border-radius: 8px;
    padding: 20px 50px;
    margin: auto;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.edit-profile-form label {
    font-family: 'DM Sans', sans-serif;
    font-size: 0.875rem;
    width: 300px;
}
.edit-profile-form input,
.edit-profile-form textarea {
    width: 100%;
    box-sizing: border-box;
    margin-top: 5px;
    font-family: inherit;
    padding: 5px;
}
.pronouns {
    color: #89886C;
}
.year-joined {
    font-style: italic;
}
.profile-bottom-section {
    display: grid;
    grid-template-columns: 25% 75%;
    margin-top: 30px;
}
.column-title {
    margin-bottom: 5px;
}
.notifications-container {
    margin-top: 15px;
}

/* Registration */

.landing {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}
.registration h1 {
    margin-bottom: 15px;
}
.registration-form {
    background-color: #FFFDFC;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px 50px;
    width: 175px;
}
.signup-form,
.login-form {
    display: none;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}
.selected {
    display: flex;
}
.signup-form label,
.login-form label {
    font-family: 'DM Sans', sans-serif;
    font-size: 0.875rem;
    width: 100%;
}
.signup-form input,
.login-form input {
    width: 100%;
    box-sizing: border-box;
    margin-top: 0.25rem;
    font-family: inherit;
    padding: 0.25rem;
}
.learn-more {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.learn-more .main-text {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.landing-logo {
    width: 250px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (min-width: 768px) {
    .landing {
        margin-top: 25px;
        gap: 45px;
    }
    .registration h1 {
        margin-bottom: 20px;
    }
    .registration-form {
        width: 400px;
    }  
}
@media (min-width: 1024px) {
    .landing {
        flex-direction: row;
        margin-top: 35px;
        gap: 60px;
    }
    .registration h1 {
        margin-bottom: 35px;
    }
    .learn-more {
        border-left: 2px solid #E4D9D4;
        padding-left: 30px;
        padding-bottom: 20px;
    }
    .learn-more .main-text {
        margin-bottom: 20px;
    }
}