.content-container {
  max-width: 275px;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 100px;
}
@media (min-width: 768px) {
  .content-container {
    max-width: 600px;
  }
}
@media (min-width: 1024px) {
  .content-container {
      max-width: 925px;
      padding-top: 15px;
      padding-bottom: 150px;
  }  
}
@media (min-width: 1440px) {
  .content-container {
      max-width: 1200px;
  }  
}
