body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F8F3EA;
  color: #0A1A0F;
}

code {
  font-family: 'DM Mono', monospace;
}

h1, h2 {
  margin: 0;
  padding: 0;
  font-family: 'DM Serif Display', serif;
  font-weight: 400;
}

h1 {
  font-size: 24px;
  line-height: 28px;
}

h2 {
  font-size: 20px;
}

h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: 'DM Sans', sans-serif;
  font-weight: 600;
}

p {
  margin: 0;
  padding: 0;
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
}

@media (min-width: 1024px) {
  h1 {
    font-size: 32px;
    line-height: 38px;
  }
  h2 {
    font-size: 24px;
  }
  p {
    font-size: 16px;
  }
}
